<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>EthPool.py</title>
<link rel="stylesheet" href="static/bootstrapflatly.min.css">
<link rel="stylesheet" href="static/font-awesome.min.css">
  
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="static/favicon.ico">
</head>
<body role="document">
<nav class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<div class="navbar-header">
  <a class="navbar-brand" href="/">EthPool.py</a>
</div>
</div>
</nav>

<div class="container" style="margin-top: 90px" role="main">	
	<h1>Miner details</h1>

	<div align="center">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Address</h3>
				  </div>
				  <div class="panel-body">
				    {{ address }}
				  </div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-warning">
				  <div class="panel-heading">
				    <h3 class="panel-title">Round work</h3>
				  </div>
				  <div class="panel-body">
				    {{ shares }}
				  </div>
				</div>
			</div>

		</div>

		<table class="table">
		{% for payout in payouts %}
		    <tr>{{ payout }}</tr>
		{% endfor %}
		</table>

	</div>
</div>
<br>
<footer>
<div align="center">Footer</div>
<div align="center">
	This software is made by Davide Gessa and it's release as open-source with MIT license (<a href="https://github.com/dakk/ethpool.py">Github</a>, <a href="mailto:gessadavide@gmail.com">Mail</a>).<br>
	Consider to make a small donation to <a href="https://etherchain.org/account/0x18f081247ad32af38404d071eb8c246cc4f33534">0x18f081247ad32af38404d071eb8c246cc4f33534</a>
</div>
</footer>
</body>
</html>
